.carta{
  background-color: gray;
  color: yellow;
  width: 360px;
  height: 640px;
  border-radius: 10px;
  border-left: 20px solid orangered;
  border-top: 20px solid orangered;
  border-right: 20px solid orangered;
  border-bottom: 20px solid orangered;
}
